@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px 24px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;
}

ul a {
  color: #555;
  text-decoration: none;
  padding: 12px 24px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 5px; */
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}
